:host {
  display: block;
  height: 100%;
}

    .dot {
      border-radius: 50%;
      position: absolute;

      $moveTime: 3000ms;
      $sizeChangeTime: 2000ms;
      $colorChangeTime: 1000ms;
      transition:
        top $moveTime, left $moveTime,
        background-color $colorChangeTime,
        width $sizeChangeTime, height $sizeChangeTime;
    }
